
@import "../src/sass/variables.scss";

*{
  font-family: 'Roboto', sans-serif;
}

// body{
//   background: $white-color;
// }

// .homeSection{
//   height: 100vh;
//   padding: 100px 0;

//   & .animated{
//     animation: up-down 2s ease-in-out infinite alternate-reverse both;
//   }
// }

// strong{
//   font-size: 2.5rem;
// } 

// .headerSection{
//   background-image:url('images/banner.jpg');
//   background-size: cover;
//   background-position: center center;
//   background-repeat: no-repeat;
//   height: 250px;
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   & h1{
//     margin: 0;
//     text-align: center;
//     color: #fff;
//     position: relative;
//   }

//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     display: block;
//     background: rgba(0, 0, 0, 0.8);
//   }

// }


// @-webkit-keyframes up-down { 
//   0% { 
//     transform: translateY(10px); 
//   } 
//   100% { 
//     transform: translateY(-10px); 
//   } 
// }

// @keyframes up-down { 
//   0% { 
//     transform: translateY(10px); 
//   } 
//   100% { 
//     transform: translateY(-10px); 
//   } 
// }

// nav.navbar li a.active{
//   border-bottom: 1px solid #2e2e2e;
//   font-weight: 600;
// } 

.mainContainer {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 10% 80% 10%;
  overflow: hidden;
  height: 100vh;
}

.headerSection { 
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  background: #fff; 
  border-bottom: 1px solid #dee2e6;
}
.menuSection { 
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  background: #1579d0; 
}
.mainSection { 
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  background: #f4f6f9; 
  padding: 0.5rem;
  // height: 100%; 
}
.footerSection { 
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  background: #fff;
  border-top: 1px solid #dee2e6;
}

.mainContainer .menuSection .navigationLogo{
  padding: 15px 25px;
  border-bottom: 1px solid #63a5de;
}

.mainContainer .menuSection .navigation{
  padding: 0;
}

.mainContainer .menuSection .navigation ul{
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
  height: calc(100vh - 70px);
}

.mainContainer .menuSection .navigation ul li{
  line-height: 1;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.mainContainer .menuSection .navigation ul li:first-child{
  margin-top: 0.5rem;
}

.mainContainer .menuSection .navigation ul li a{
  font-size: 0.9rem;
  color: #fff;
  font-weight: 300;
  border-radius: .25rem;
  padding: .8rem 1rem;
  text-decoration: none;
  display: block;
}

.mainContainer .menuSection .navigation ul li a.active{
  background-color: #313131;
}

.mainContainer .menuSection .navigation ul li a i{
  margin-right: 5px;
}

.mainContainer .menuSection .navigation ul li a p{
  margin: 0;
  display: inline-block;
}

/* width */
.mainContainer .menuSection .navigation ul::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.mainContainer .menuSection .navigation ul::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.mainContainer .menuSection .navigation ul::-webkit-scrollbar-thumb {
  background: #0a3c68;
  border-radius: 10px;
}

/* Handle on hover */
.mainContainer .menuSection .navigation ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}