@import "../src/sass/variables.scss";

*{
  font-family: 'Roboto', sans-serif;
}

$white: #ffffff;
$black: #313131;
$blue: #1579d0;
$light-grey: #f4f6f9;

.headerSection { 
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  background: $white; 
  border-bottom: 1px solid $light-grey;
}

.menuSection { 
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  background: $blue; 
}

.mainSection { 
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  background: $light-grey; 
  padding: 0.5rem;
}

.footerSection { 
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  background: $white;
  border-top: 1px solid #dee2e6;
}

.mainContainer {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 10% 80% 10%;
  overflow: hidden;
  height: 100vh;
}

.mainContainer .menuSection {
  & .navigationLogo{
    padding: 15px 25px;
    border-bottom: 1px solid #63a5de;
  }

  & .navigation ul{
    padding: 0;

    &:not(.nav-treeview){
      list-style: none;
      padding-left: 0;
      overflow-y: scroll;
      height: calc(100vh - 70px);
    }

    & li{
      line-height: 1;
      padding: 0 0.5rem;
      margin-bottom: 0.5rem;

        &.nav-heading{
          color: $white;
          font-weight: 600;
          padding-left: 20px;
        }

        &:first-child{
          margin-top: 0.5rem;
        }
  
        & a{
          font-size: 0.9rem;
          color: $white;
          font-weight: 300;
          border-radius: .25rem;
          padding: .8rem 1rem;
          text-decoration: none;
          display: block;
  
          &.active{
              background-color: $black;
            }
    
          & i{
              margin-right: 5px;
            }
    
          & p{
              margin: 0;
              display: inline-block;
            }
        }
      & .accordion-button{
        font-size: 0.9rem;
        color: $white;
        font-weight: 300;
        border-radius: .25rem;
        padding: .8rem 1rem;
        text-decoration: none;
        display: block;
        position: relative;
      }  
      & .accordion-button:not(.collapsed){
        background: $black;
        text-align: left;
      }
      & .accordion-button:not(.collapsed)::after{
        content: "\f106";
        font-family: "Fontawesome";
        font-weight: 900;
        position: absolute;
        right: 10px;
        background-image: none;
      }
      & .accordion-button.collapsed::after{
        content: "\f107";
        font-family: "Fontawesome";
        font-weight: 900;
        position: absolute;
        right: 10px;
        background-image: none;
        
      }
      & .accordion-button.collapsed{
        text-align: left;
      }
      & .accordion-button i{
        margin-right: 5px;
      }
    }
  }
}

/* width */
.mainContainer .menuSection .navigation ul::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.mainContainer .menuSection .navigation ul::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.mainContainer .menuSection .navigation ul::-webkit-scrollbar-thumb {
  background: #0a3c68;
  border-radius: 10px;
}

/* Handle on hover */
.mainContainer .menuSection .navigation ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}